# This is a notebook to play around with Python

In [2]:
print('Hello World!')

Hello World!

In [3]:
a = 2
b = 4

c = a * b
print(c)

8

In [4]:
print("Hello VS code")

Hello VS code

In [1]:
print ("hi")

hi

In [2]:
for i in range (2):
    print("hi")

hi
hi

In [7]:
x = 11
if x == 10:
    print ("hi")
else:
    print ("yo")

yo

In [10]:
x = 11
if x > 10:
    print("yes")
elif x > 10 and x < 15:
    print("no")

yes

In [3]:
x = 11
if x > 10:
    print ("yep")
if x > 10 and x < 15:
    print ("yaya")

yep
yaya

In [5]:
for i in range (5):
    print("hi")

hi
hi
hi
hi
hi

In [ ]:
for i in range (5):
    if i == 4:
        print(i)
        break
    print(i)

IndentationError: expected an indented block after 'for' statement on line 1 (3796208753.py, line 2)

In [6]:
for i in range (4):
    print("i")

i
i
i
i

In [5]:
print("Hello world")
print("What is your name?")
myname = input ("Pavlina Ivanova Kodzhabasheva")
print("Nice to meet you," + myname)
print(len(myname))

Hello world
What is your name?
Nice to meet you,
0

In [12]:
name = ("Alice")
age = 10
if name == ("Alice"):
    print("Hello, Alice")
elif age > 10:
    print("You are not Alice, mommy")
else:
    print("You are dead")

Hello, Alice

In [14]:
spam = 0
if spam < 5: 
    print("Hello world")
spam = spam + 1

Hello world

In [33]:
spam = 6
if spam < 5:
    print("Hello world")
spam = spam + 2

In [17]:
for i in range (2, 10):
    print(i)

2
3
4
5
6
7
8
9

In [20]:
for i in range (2, 20, 4):
    print(i)

2
6
10
14
18

In [21]:
print("Hello")
print("world")

Hello
world

In [25]:
print("Hello", end= "")
print("world")

Helloworld

In [26]:
print("Hello", end= "")
print("my", end= "")
print("darling")

Hellomydarling

In [27]:
print("banana", "orange", "tomato")

banana orange tomato

In [28]:
print("banana", "orange", "tomato", sep= ",")

banana,orange,tomato

In [30]:
print("banana", "orange", "tomato", sep= ";")

banana;orange;tomato

In [31]:
list("Hello")

['H', 'e', 'l', 'l', 'o']

In [3]:
x = 10
while x > 5:
    print("value of x before decrement:" ,x)
    x -= 2
    print(x)

value of x before decrement: 10
8
value of x before decrement: 8
6
value of x before decrement: 6
4

In [ ]:
for i in range (1,4):
    print("value of i", i)
    for j in range (i):
        print(i, end= " ")

1 2 2 3 3 3

In [8]:
def three_cheers(name):
    """give cheers"""
    for i in range(3):
        print("Hip Hip Hooray", name)

three_cheers("Tanya")

Hip Hip Hooray Tanya
Hip Hip Hooray Tanya
Hip Hip Hooray Tanya

In [9]:
def total(num1, num2):
    result = int(num1) + int(num2)
    return result

check = total(2,3)
check+2

7

In [ ]:
def total (num1,num2):
    return x = num1+num2

In [12]:
def my_function (fname):
    print(fname)

my_function("Pavlina")
my_function("Lora")

Pavlina
Lora

In [16]:
def my_function (fname, lname):
    print(fname)

my_function("Pavlina", "Kodzhabasheva")

Pavlina